* {
    /* border: 1px solid black; */
}

body {
    margin: auto;
    width: 90%;
}

header {
    width: 100%;
    /* padding: 5px 0px 5px 0px; */
    text-align: justify;

    margin: auto;
    background: #f3f3f3;
}

header .logo {
    padding: 0px;
    width: 15%;

    display: inline-block;

    color: blue;
    font-size: medium;
    font-style: italic;
    text-align: left;
}

header .menu {
    padding: 5px;
    position: relative;
    width: 83%;
    display: inline-block;
}

header .button {
    display: inline-block;

}

.left.button {
    border-right: 4px solid #4ef000;
}

.button.right {
    float: right;
    text-align: right;
}

.button {
    padding: 5px;
    /* background: #f0e1e3; */
}

a.button {
    width: 80px;
    text-align: center;
    text-decoration: none;
}
a.button:hover {
    background: #4ef;
}

/*
header .menu div {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.menu div a {
    width: 100%;

    color: black;
    font-size: large;
    text-decoration: none;
}


.active {
    background: #4d4;
}

.menu div a:hover {
    color: white;
    background: #f3f3f3;
}

*/

.clearfix {
    overflow: auto;
}

nav {
    margin: auto;
    width: 15%;
    float: left;
}

article {
    margin: auto;
    width: 80%;
    float: left;
}

#op-panel {
    height: 20px;
}

#main {
    height: 300px;
}

footer {
    background: #f3f3f3;
}
