<h1>About</h1>
<p>Phye's simple admin page</p>
<ul class="list-group">
  <li class="list-group-item">Route</li>
  <li class="list-group-item">Model</li>
  <li class="list-group-item">View</li>
  <li class="list-group-item">Template</li>
  <li class="list-group-item">Controller?</li>
</ul>

<div class="panel pane-default">
  <div class="panel-heading">
    <h3 class="panel-titlel">Ember 2.0 is coming</h3>
  </div>
  <div class="panel-body">
    <p>The next version of ember will continue
    to improve the way we create web applications</p>
  </div>
</div>
