<div class="row">
  <div class="bg-info col-sm-12">
    <div class="btn-group btn-group-sm col-sm-offset-4">
      <button class="btn btn-default dropdown-toggle" 
              type="button" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Select
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">All</a></li>
        <li><a href="#">None</a></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" 
              type="button" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Action
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Approve</a></li>
        <li><a href="#">Reject</a></li>
      </ul>
    </div>
    <button class="btn btn-default btn-sm pull-right" type="button">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>

<div class="row .clearfix-sm">
  <ul class="nav nav-pills nav-stacked col-sm-3" id="left-panel">
    <li class="active" role="representation"><a href="#">User Managment</a></li>
    <li role="representation"><a href="#">Product Managment</a></li>
    <li role="representation"><a href="#">Order Managment</a></li>
  </ul>
  <div class="col-sm-9">
    <h2>Main Operation Panel</h2>
  </div>
</div>
