<header>
  <div class="logo">SampleAdmin</div>
  <div class="menu">
    <a href="#" class="left button">Admin</a>
    <a href="#" class="left button">About</a>
    <a href="#" class="left button">Contact</a>
    <a href="/login" class="right button">Login</a>
  </div>
</header>

<div id="content" class="clearfix">
  <section id='op-panel'>
    <a href="#"><div class="vcenter button">op1</div></a>
    <a href="#"><div class="vcenter button">op2</div></a>
    <a href="#"><div class="vcenter button">op3</div></a>
  </section>
  <nav class="left">
    <ul>
      <li class="link"><a href="/users">User Manage</a></li>
      <li class="link"><a href="/goods">Good Manage</a></li>
      <li class="link"><a href="/orders">Order Manage</a></li>
    </ul>
  </nav>

  <article id="dtable">
    <table>
      <tr>
        <th id="select">Select</th>
        <th>id</th>
        <th>name</th>
        <th>phone</th>
        <th>role</th>
        <th>regtime</th>
        <th>evaluation</th>
      </tr>
      <tr>
        <td><input type="checkbox" name="select"></td>
        <td>123</td>
        <td>John Smith</td>
        <td>13344556677</td>
        <td>admin</td>
        <td>2017-01-01</td>
        <td>4.8</td>
      </tr>
      <tr class="date">
        <td><input type="checkbox" name="select"></td>
        <td>123</td>
        <td>John Smith</td>
        <td>13344556677</td>
        <td>admin</td>
        <td>2017-01-01</td>
        <td>4.8</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="select"></td>
        <td>123</td>
        <td>John Smith</td>
        <td>13344556677</td>
        <td>admin</td>
        <td>2017-01-01</td>
        <td>4.8</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="select"></td>
        <td>123</td>
        <td>John Smith</td>
        <td>13344556677</td>
        <td>admin</td>
        <td>2017-01-01</td>
        <td>4.8</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="select"></td>
        <td>123</td>
        <td>John Smith</td>
        <td>13344556677</td>
        <td>admin</td>
        <td>2017-01-01</td>
        <td>4.8</td>
      </tr>
    </table>
  </article>
</div>

<footer>All rights reserved.</footer>
{{outlet}}
