<header>
  <div class="logo">SampleAdmin</div>
  <div class="menu">
    <div class="active"><a href="#">Admin</a></div>
    <div><a href="#">About</a></div>
    <div><a href="#">Contact</a></div>
  </div>
</header>

<div id="content" class="clearfix">
  <nav>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/goods">Goods</a></li>
      <li><a href="/orders">Orders</a></li>
    </ul>
  </nav>

  <article>
    <section id='op-panel'>Operation Panel</section>
    <section id='main'>Main Data List</section>
  </article>
</div>

<footer>All rights reserved.</footer>
{{outlet}}
