<h1>Contact</h1>
<form action="">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
  </div>
  <div class="form-grpu">
    <label for="inputComments">Comments</label>
    <textarea id="inputComments" class="form-control" placeholder="Comments"></textarea>
  </div>
  <button class="btn btn-default" type="submit">Submit</button>
</form>
